
form {
    border-width: 50px;
    border: 5px solid blue;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.form-control {
    background-color: blue;
    opacity: 1;
    width: 50%;
}

#fileInput {
    opacity: 1;
    background-color: #e9ecef;
   

}
img {
    border-radius: 20%;
}

#logo-text {
    opacity: 1;
    padding: 12px 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}