.SirketIsmi {
    background-color: #e9ecef;
    width: 75%;
    opacity: 1;
}

.aciklama {
    background-color: #e9ecef;
    width: 84.25%;
    opacity: 1;
}
.adres {
    background-color: #e9ecef;
    width: 84.25%;
    opacity: 1
}
.il {
    background-color: #e9ecef;
    width: 81.25%;
    opacity: 1;
}

.ilce {
    background-color: #e9ecef;
    width: 79.75%;
    opacity: 1;
}
.sektor {
    background-color: #e9ecef;
    width: 77.75%;
    opacity: 1;
}