.myselect {
    width: 450px;
    background-color: #e9ecef;
    padding:12px 20px;
    width: 77%;
}
.myselect2 {
    width: 450px;
    background-color: #e9ecef;
    padding: 12px 20px;
    width: 75.5%;
}
.myselect3 {
    width: 450px;
    background-color: #e9ecef;
    padding: 12px 20px;
    width: 75.5%;
}
.myselect4 {
    width: 450px;
    background-color: #e9ecef;
    padding: 12px 20px;
    width: 73.5%;
}
#_logo {
    background-color: #e9ecef;
    padding: 12px 20px;
}
